<!DOCTYPE html>
<html xmlns="http://www.w2.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
</head>
<body>
<h3>Cadastro de Pessoas</h3>

<div class="row">
	<form action="salvarpessoa"  id="formpessoa" method="post" th:object="${pessoaobj}" class="col s12">
		
		<div class="row">
			<div class="input-field col s6">
				<label for="id" class="active">ID:</label>
				<input class="validate" name="id" th:field="*{id}" id="id" readonly="readonly">
			</div>
			<div class="input-field col s6">
				<label for="nome" class="active">Nome</label>
				<input class="validate" name="nome" th:field="*{nome}" id="nome" >
			</div>
			
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label for="sobrenome" class="active">Sobrenome</label>
					<input class="validate" name="sobrenome" th:field="*{sobrenome}" id="sobrenome">
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
			<label class="active">Idade</label>
			<input  class="validate" name="idade" th:field="*{idade}">
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s6">
				<input class="waves-effect waves-light btn" type="submit" value="Salvar">
				
				<button class="waves-effect waves-light btn" onclick="document.getElementById('formpessoa').reset();">Novo</button>
			</div>
		</div>
	</form>
</div>

<br/>
<br/>

<br/>
<br/>

<div class="row">
	<form class="col s12" action="pesquisarpessoa" method="post">
	<div class="row">
		<div class="input-field col s12">
			<label for="nomepesquisa" class="active">Pesquisa por nome:</label>
			<input nome="nomepesquisa" id="nomepesquisa">
			<input class="waves-effect waves-light btn" type="submit" value="Buscar">
			<a class="waves-effect waves-light btn" href="/listapessoas">Lista Pessoas</a>
		</div>
	</div>
	
	</form>
</div>
<br/>
<br/>
<table class="striped">
	<tr>
		<th>ID</th>
		<th>Nome</th>
		<th>Sobrenome</th>
		<th>Idade</th>
		<th>Editar</th>
		<th>Excluir</th>
	</tr>
<tr th:each = "pessoa : ${pessoas}">
	<td th:text = "${pessoa.id}"></td>
	<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text = "${pessoa.nome}"></span></a></td>
	<td th:text = "${pessoa.sobrenome}"></td>
	<td th:text = "${pessoa.idade}"></td>
	<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
	<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
</tr>
</table>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>